<section class="restaurant-hero container my-4">
  <div class="hero-box p-5 rounded-4 shadow-sm d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="text-content mb-4 mb-md-0">
      <p class="slogan mb-1">I’m lovin’ it!</p>
      <h2 class="restaurant-name mb-3">McDonald’s East London</h2>

      <div class="d-flex flex-wrap gap-3 align-items-center mb-3">
        <div class="info-pill d-flex align-items-center gap-2">
          <i class="bi bi-credit-card-2-front-fill"></i>
          <span>Minimum Order: 12 GBP</span>
        </div>
        <div class="info-pill d-flex align-items-center gap-2">
          <i class="bi bi-truck"></i>
          <span>Delivery in 20-25 Minutes</span>
        </div>
      </div>

      <div class="d-flex align-items-center gap-3">
        <button class="btn btn-warning open-btn px-4 py-2 fw-semibold rounded-pill">Open until 3:00 AM</button>
      </div>
    </div>

    <div class="image-content text-center">
      <img src="assets/images/restaurant1.png" class="img-fluid burger-img mb-3" alt="Burger Image" />
      <div class="rating-box p-2 rounded">
      <img src="assets/images/rate.png"/>
      </div>
    </div>
  </div>
</section>
