.top-bar {
  .change-location {
    color: #fc8a06;
    text-decoration: underline;
    font-weight: 500;
  }

  .cart-button {
    background-color: #028643;
    ;
    border: none;

    .badge {
      font-size: 0.75rem;
    }
  }
}

.navbar {
  .nav-item {
    position: relative;

    .nav-link {
      font-weight: 600;
      color: #333;

      &.active {
        color: #fff;
      }
    }

    &.active-tab {
      .nav-active-indicator {
        width: 120px;
        height: 45px;
        background-color: #fc8a06;
        border-radius: 120px;
        position: absolute;
        top: -2px;
        left: -10px;
        z-index: -1;
      }
    }
  }

  .btn-dark {
    font-weight: 500;
  }
}

@media (max-width: 767.98px) {
  .navbar-nav {
    flex-direction: column !important;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
  }

  .navbar .nav-item .nav-active-indicator {
    display: none;
  }

  .cart-button {
    width: 100%;
    justify-content: space-between;
  }
}