<section class="location-info-section py-5">
  <div class="container">
    <div class="map-wrapper position-relative">
      <img src="assets/images/map.png" alt="Map" class="img-fluid w-100 rounded" />

      <div class="info-box text-white rounded position-absolute">
        <h5 class="restaurant-name mb-2">
          McDonald’s <br /><span>South London</span>
        </h5>
        <p class="address">
          Tooley St, London Bridge, London SE1 2TF, <br />
          United Kingdom
        </p>
        <p class="mb-1"><strong>Phone number</strong><br />+934443-43</p>
        <p class="mb-0"><strong>Website</strong><br />
          <a href="http://mcdonalds.uk/" target="_blank">http://mcdonalds.uk/</a>
        </p>
      </div>
    </div>
  </div>
</section>
