.hero-section {
    padding-bottom: 20px;
  position: relative;
  
  .hero-background {
      background-color: #03081F;
  }
  .sub-heading {
    font-size: 0.9rem;
    color: #888;
  }

  .main-heading {
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFF;

    .highlight {
      color: #fc8a06;
    }
  }

.search-wrapper {
display: flex;
  flex-direction: column;
  align-items: center; 
  color: #888;
  .search-label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .search-box {
    width: fit-content;

    .search-input {
      border-radius: 50px 0 0 50px;
      padding: 10px 20px;
      border: none;
      outline: none;
    }

    .search-btn {
      background-color: #fc8a06;
      border-radius: 0 50px 50px 0;
      border: none;
      font-weight: 700;
      padding: 10px 30px;
      white-space: nowrap;
    }

    input::placeholder {
      color: #555;
      font-size: 14px;
    }
  }
}



  .bg-graphic {
    position: absolute;
    top: 170px;
    right: 250px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
  }

  .order-box {
    position: absolute;
    background: white;
    border-radius: 1rem;
    padding: 10px 15px;
    width: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 0.85rem;

    .title {
      font-weight: 700;
    }

    .icon {
      width: 16px;
      margin-right: 6px;
    }
  }

  .order-box-1 {
    top: 20px;
    right: 30px;
  }

  .order-box-2 {
    top: 100px;
    right: 10px;
  }

  .order-box-3 {
    top: 180px;
    right: 20px;
  }
}
@media (max-width: 768px) {
  .hero-section {
    .hero-background {
      padding: 2rem 1rem;
    }

    .main-heading {
      font-size: 1.8rem;
    }

    .search-box {
      .search-input {
        border-radius: 50px;
      }

      .search-btn {
        border-radius: 50px;
      }
    }

    .col-md-6.position-relative {
      display: none;
    }
  }
}
