<section class="burgers-section py-5">
  <div class="container">
    <h2 class="section-title mb-4">Burgers</h2>

    <div class="row g-4">
      <div class="col-md-6 col-lg-4 d-flex" *ngFor="let product of cards">
        <app-product-card
          class="w-100"
          [name]="product.name"
          [description]="product.description"
          [image]="product.image"
          [price]="product.price"
          (add)="selectProduct(product)"
        ></app-product-card>
      </div>
    </div>
  </div>
</section>
